:root {
    --navyblue-colour: #2E2F42;
    --slate-colour: #434455;
    --iris-colour: #4D5AE5;
    --white-colour:  #FFFFFF;
    --cloud-colour:  #F4F4FD;
    --ocean-colour:  #404BBF;
    --border-bottom: #e7e9fc
}
/* Base styles */
body {
    font-family: "Roboto", sans-serif;
    color: var(--slate-colour);
    background-color: var(--white-colour);
    display: block
} 
img , svg {
    display: block
}
a {
    text-decoration: none;
    color: currentColor;
}
ul {
    list-style: none;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Header section */
.header {
    border-bottom: 1px solid var(--border-bottom);
    background: var(--white-colour);
    display: flex;
}
/*Site nav*/
.header-nav {
    display: flex;
    align-items: center;
    width: 1158px;
    padding: 0 15px;
}
.header-nav:hover,
.header-nav:focus {
    color: var(--ocean-colour);
}
.header list{ 
    color: var(--navyblue-colour);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    padding: 24px 0
}
/*Logo*/
.header-logo {
    color: var(--iris-colour);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}
.span-accent {
    color: var(--navyblue-colour);
    background-color: var (--cloud-colour)
}

/*Address*/
.address {
    display: flex;}
.header-address {
    list-style: none;
    font-style: normal;
    display: flex;
    gap: 40px;
}
.address-item {}
.address-list {
    color: var(--slate-colour);
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;  
    font-style: normal;
    list-style: none;
}
.address:hover,
.address:focus {
    color: var(--ocean-colour);
}
   
/*Hero*/
.hero {
    background: var(--navyblue-colour);
    padding: 188px 0
}
.hero-title {
    color: var(--white-colour);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px

}
/*Advantages*/
.section-title {
    background-color: var(--cloud-colour);
    color: var(--navyblue-colour);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
advantages-text {



}
/*Advantages*/
.advantages {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.advantages-list{
    color: var(--navyblue-colour);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.advantages-item { }
.advantages-text {background-color: var(--white-colour);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue-colour);
    text-align: center;
    margin-bottom: 8px;}
.advantages-text {
    color: var(--slate-colour);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: center;
}
/*Doing section*/
.doing {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.doing-title {
    background-color: var(--cloud-colour);
    padding: 120px 0;
}
.section-title {
    background-color: var(--white-colour);
    margin-bottom: 72px;
}

.list {}

.doing-item {}

.doing-img {}

/* Team Section*/
.team-title {}

.section-title {}

.team {}

.list {}

.team-item {
    padding: 32px 0;
}

.team-img {}

.position {}

.title {}

.text {}

.team-snbtitle {}

.team-text {}

.advantages {
    display: flex;
    gap: 24px;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.sectiontitle {
    background-color: var(--cloud-colour);
    padding: 120px 0;

}
.section-title.sectiontitle
{
    background-color: var(--white-colour);
    margin-bottom: 72px;
}
.position {
    padding: 32px 0;

}
   
/*Footer*/
.footer {
    background-color: var(--navyblue-colour);
    padding: 100px 0;

}
.text-footer {
    color: var(--cloud-colour);
    background: var(--navyblue-colour);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    max-width: 264px
}
.footer .span-logo {
    color: var(--cloud-colour);
    background-color: var(--navyblue-colour)
}

.link{
    text-decoration: none
}

.pic {
background-color: var(--white-colour)
;
}

/*Filtr section*/
.filtr {}

.list {}

.filtr-item {}
/*Button*/
.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color:var(--iris-colour);
    border-radius: 4px
}
.btn {
    color: var(--white-colour);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    text-decoration: none;
   
}
.primery {
    color: var(--iris-colour);
    background-color: var(--cloud-colour)
}
.primery:hover,
.primery:focus {
    color: var(--white-colour);
    background-color: var(--ocean-colour);
}
/*Portfolio Section*/

.portfolio {}

.portfolio-item {}

.portfolio-link {}

.portfolio-img {}

.portfolio-subtitle {}

.portfolio-text {}

/*Footer*/
.footer {
    background-color: var(--navyblue-colour);
    padding: 100px 0;
}
.footer-logo{
    color: var(--iris-colour);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;

}
.footer-text {
   
    color: var(--cloud-colour);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}
.span-logo {
    color: var(--cloud-colour);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
    background-color: var(--navyblue-colour)
}



