:root {
    --navyblue-colour: #2E2F42;
    --slate-colour: #434455;
    --iris-colour: #4D5AE5;
    --white-colour:  #FFFFFF;
    --cloud-colour:  #F4F4FD;
    --ocean-colour:  #404BBF;
    --border-bottom: #e7e9fc
}
/* Base styles */
body {
    font-family: "Roboto", sans-serif;
    color: var(--slate-colour);
    background-color: var(--white-colour);
    width: 100%;
} 
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img , svg {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: currentColor;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Header section */
.header {
    border-bottom: 1px solid var(--border-bottom);
    background: var(--white-colour);
    display: flex;
    
}
/*Site nav*/
.header-nav {
    display: flex;
    align-items: center;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 24px 0
}
.header.list{ 
    color: var(--navyblue-colour);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-self: center;
    align-items: center;
   
}
.header-link {
    color: var(--navyblue-colour);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
}
.header-link:hover,
.header-link:focus {
    color: var(--ocean-colour);
}
/*Logo*/
.header-logo {
    margin-right: 76px;
    padding: 24px 0;
    font-family: Raleway, sans-serif;
    color: var(--iris-colour);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.span-accent {
    color: var(--navyblue-colour);
    background-color: var (--cloud-colour)
}

/*Address*/
.header-address {
    list-style: none;
    font-style: normal;
    display: flex;
    gap: 40px;
}
.address {
    display: flex;
    gap: 40px;
    padding: 24px 0; 
}
.list {
    color: var(--slate-colour);
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
}
.address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-colour)
}
.address-link {
    text-decoration: none;
}
.address-link:hover,
.address-link:focus {
    color: var(--ocean-colour);
}
   
/*Hero*/
.hero {
    background: var(--navyblue-colour);
    padding: 188px 0
}
.hero-title {
    color: var(--white-colour);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

/*Advantages*/
.advantages {
    display: flex;
    gap: 24px;
    padding: 120px 0;
}
.visually-hidden {
    visibility: hidden;
}
.section-title {
    background-color: var(--cloud-colour);
    color: var(--navyblue-colour);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
advantages-text {



}
/*Advantages*/
.advantages {
    
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.advantages-list{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: flex;
    gap: 24px;

}
.advantages-item {
    width: calc((100% - 72px) / 4);

 }
.advantages-subtitle {
    color: var(--navyblue-colour);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.advantages-text {
    color: var(--slate-colour);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Doing section*/
.doing {
    padding-bottom: 120px;
    padding-top: 0;
}
.doing-title {
    color: var(--navyblue-colour);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.list {
    display: flex;
    gap: 24px;
}
.doing-item {
    width: calc((100% - 48px) / 3);
}
.doing-img {}

/* Team Section*/
.team {
    background: var(--cloud-colour);
    padding: 120px 0;
}
.team-title {
    color: var(--navyblue-colour);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.list {
    display: flex;
    gap: 24px;
}
.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}
.team-name{
    padding: 32px 0;
    
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue-colour);
    text-align: center;
    margin-bottom: 8px;
}
.team-text{
    text-align: center;
}

.team-img {}


/*Footer*/
.footer {
    background-color: var(--navyblue-colour);
    padding: 100px 0;
}

.footer-logo {
    color: var(--iris-colour);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;

}

.footer-text {
    color: var(--cloud-colour);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.span-logo {
    color: var(--cloud-colour);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
    background-color: var(--navyblue-colour)
}

.pic {
background-color: var(--white-colour)
;
}

/*Filtr section*/
.filtr {}

.list {}

.filtr-item {}
/*Button*/
.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color:var(--iris-colour);
    color: var(--white-colour);
    border-radius: 4px;
    margin-top: 48px;
    margin: 0 auto ;
    min-width: 169px; 
    cursor: pointer;
}
.btn {
    color: var(--white-colour);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    text-decoration: none;
   
}
.primery {
    color: var(--iris-colour);
    background-color: var(--cloud-colour)
}
.primery:hover,
.primery:focus {
    color: var(--white-colour);
    background-color: var(--ocean-colour);
}
/*Portfolio Section*/

.portfolio {
    padding-top: 96px; 
    padding-bottom: 120px;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-link {}

.portfolio-img {}

.portfolio-subtitle {}

.portfolio-text {}





